h3
  | Videos released on 
  span {{ $ctrl.date }}
ul
  li(ng-repeat='video in $ctrl.videos')
    img(src='{{ video.snippet.thumbnails.default.url }}', width='{{ video.snippet.thumbnails.default.width }}', height='{{ video.snippet.thumbnails.default.height }}', alt='thumbnail')
    a(href='#', ng-click='$ctrl.start(video)')
      span
        | {{ video.snippet.title }}
    p
      | {{ video.snippet.description }}
    hr
